<div class="account-information-container">
  <form
    #form="ngForm"
    class="surface-card p-4 shadow-2 border-round w-full lg:w-10"
    (ngSubmit)="save()"
  >
    <div class="text-center mb-5">
      <div class="text-900 text-3xl font-medium mb-3">Account Information</div>
    </div>
    <div class="card">
      <label for="email" class="block text-900 font-medium my-3">Email*</label>
      <input
        id="email"
        type="text"
        pInputText
        class="w-full mb-1"
        name="email"
        value="{{ getUserDisplay() }}"
        disabled
        ngModel
      />

      <div class="grid p-fluid">
        <div class="col-12 md:col-4">
          <label for="firstName" class="block text-900 font-medium my-2"
            >First Name*</label
          >
          <input
            id="firstName"
            type="text"
            pInputText
            class="w-full mb-1 capitalize"
            name="firstName"
            placeholder="Enter your first name"
            ngModel
            required
          />
        </div>
        <div class="col-12 md:col-4">
          <label for="middleName" class="block text-900 font-medium my-2"
            >Middle Name</label
          >
          <input
            id="middleName"
            type="text"
            pInputText
            class="w-full mb-1"
            name="middleName"
            placeholder="Enter your middle name"
            ngModel
          />
        </div>
        <div class="col-12 md:col-4">
          <label for="lastName" class="block text-900 font-medium my-2"
            >Last Name*</label
          >
          <input
            id="lastName"
            type="text"
            pInputText
            class="w-full mb-1"
            name="lastName"
            placeholder="Enter your last name"
            ngModel
            required
          />
        </div>
      </div>

      <label for="dateOfBirth" class="block text-900 font-medium my-2"
        >Date of birth*</label
      >

      <p-calendar
        inputId="dateOfBirth"
        placeholder="dd/mm/yyyy"
        dateFormat="dd/mm/yy"
        styleClass="w-full mb-1"
        name="dateOfBirth"
        ngModel
      ></p-calendar>

      <app-address-fields
        *ngIf="this.user?.id"
        [address]="this.user?.address"
      ></app-address-fields>

      <!--
            <div class="d-inline-flex p-2">
                <div class="card w-6 ">
                    <div class="flex align-items-stretch flex-wrap card-container blue-container">
                        <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)" [multiple]="true"
                            accept="image/*" [maxFileSize]="1000000">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>
            </div> -->

      <p-dialog
        header="Do you want to become a seller? Choose now:"
        [(visible)]="display"
        styleClass="w-full"
        [closable]="true"
        [modal]="true"
      >
        <div class="flex gap-2">
          <button
            pButton
            pRipple
            label="Open new restaurant"
            class="w-6 mt-3"
            type="button"
            (click)="navToOpenNewRestaurant()"
          ></button>
          <button
            pButton
            pRipple
            label="List of restaurants"
            class="w-6 mt-3"
            type="button"
            (click)="navToListOfRestaurants()"
          ></button>
        </div>
        <div *ngIf="restaurantsShown" class="mt-2">
          <app-restaurants
            [hasCurrentUser]="false"
            [hasPagination]="true"
            [navigateWhenClick]="false"
            (restaurantClick)="selectRestaurant($event)"
          ></app-restaurants>
        </div>
      </p-dialog>

      <ng-container *ngIf="isBuyer">
        <div class="surface-border border-top-1 opacity-50 mt-3 col-12"></div>
        <p>You are a <strong>buyer</strong>.</p>

        <div class="grid" *ngIf="user && user.requestingRestaurant" class="col">
          <p>Your request to become a seller is being reviewed.</p>
          <div class="col">
            <p-accordion>
              <p-accordionTab
                [selected]="true"
                header="Requesting Restaurant Information"
              >
                <app-restaurant-card
                  [restaurant]="user.requestingRestaurant"
                  [hasDistance]="false"
                ></app-restaurant-card>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>

        <button
          *ngIf="!user?.['requestingRestaurant']"
          pButton
          pRipple
          label="Change role to seller"
          class="w-full"
          type="button"
          (click)="showDialog()"
        ></button>
      </ng-container>

      <div class="surface-border border-top-1 opacity-50 mt-3 col-12"></div>
      <div class="flex gap-2">
        <button
          pButton
          pRipple
          label="Save"
          class="w-full"
          type="submit"
          [disabled]="submitButtonDisabled"
        ></button>
        <!-- <button pButton pRipple label="Restaurant Opening Request" class="w-6 mt-3" type="button" (click)="navToOpenRestaurantRequest()"></button> -->
      </div>
    </div>
  </form>
</div>
<p-confirmDialog></p-confirmDialog>
