<ng-container *ngIf="restaurant">
  <div class="p-5" *ngIf="!restaurant.id">
    <h1>The restaurant does not exist!</h1>
  </div>

  <ng-container *ngIf="restaurant.id">
    <div class="flex relative lg:static surface-ground">
      <div class="flex flex-column relative flex-auto">
        <div class="flex flex-column flex-auto">
          <div class="surface-section p-5">
            <div
              class="flex align-items-start flex-column lg:flex-row lg:justify-content-between"
            >
              <div class="flex align-items-start flex-column md:flex-row">
                <app-image-attachment
                  [uploadUrl]="uploadUrl"
                  [url]="restaurant.avatarFile?.filePath"
                  (selectedImageHandler)="updateAvatar($event)"
                  method="PUT"
                  class="mr-5 mb-3 lg:mb-0"
                  [editable]="editable"
                ></app-image-attachment>
                <div>
                  <div class="flex align-items-center">
                    <app-restaurant-name
                      [restaurant]="restaurant"
                      [editable]="editable"
                    ></app-restaurant-name>
                    <!-- <i class="pi pi-star text-2xl ml-4 text-yellow-500"></i> -->
                  </div>

                  <div
                    class="flex align-items-center flex-wrap text-sm mr-3 mt-3"
                  >
                    <div>
                      <span
                        class="font-medium text-600 mr-3"
                        style="font-size: 20px"
                      >
                        Opening status
                      </span>
                    </div>
                    <p-inputSwitch [(ngModel)]="isOpening"></p-inputSwitch>
                  </div>

                  <div
                    class="flex align-items-center flex-wrap text-sm"
                    *ngIf="fullAddress"
                  >
                    <div class="mr-5 mt-3">
                      <span class="font-medium text-500">
                        {{ fullAddress }}
                      </span>
                    </div>
                  </div>

                  <div
                    class="flex align-items-center flex-wrap text-sm"
                    *ngIf="restaurant.phoneNumber"
                  >
                    <div class="mr-5 mt-3">
                      <span class="font-medium text-500">
                        Phone Number:
                        <a [href]="'tel:' + restaurant.phoneNumber">
                          {{ restaurant.phoneNumber }}</a
                        >
                      </span>
                    </div>
                  </div>

                  <div class="flex align-items-center flex-wrap text-sm">
                    <div class="mr-5 mt-3">
                      <span class="font-medium text-500">FOLLOWERS</span>
                      <div class="text-700 mt-2">333</div>
                    </div>
                    <div class="mr-5 mt-3">
                      <span class="font-medium text-500">PROJECTS</span>
                      <div class="text-700 mt-2">26</div>
                    </div>
                    <div class="mr-5 mt-3">
                      <span class="font-medium text-500">COLLECTIONS</span>
                      <div class="text-700 mt-2">17</div>
                    </div>
                    <div class="mt-3">
                      <span class="font-medium text-500">SHOTS</span>
                      <div class="text-700 mt-2">130</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-3 lg:mt-0">
                <button
                  pButton
                  pRipple
                  icon="pi pi-bookmark"
                  class="p-button-rounded mr-2"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-heart"
                  class="p-button-rounded p-button-success mr-2"
                ></button>
                <app-restaurant-update-information
                  [restaurant]="restaurant"
                  [editable]="editable"
                  (hidden)="refresh()"
                ></app-restaurant-update-information>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="surface-section px-4 md:px-6 lg:px-8">
      <div class="flex flex-wrap lg:flex-nowrap">
        <div class="col-fixed lg:col-2 mr-4 flex p-0 flex-column">
          <div class="flex flex-column p-0">
            <p *ngIf="categories.length === 0">No categories</p>
          </div>

          <p-accordion [multiple]="true" styleClass="mb-5">
            <p-accordionTab [selected]="true" header="Food name">
              <div>
                <span class="p-input-icon-right w-full">
                  <i class="pi pi-search"></i>
                  <input
                    type="text"
                    pInputText
                    placeholder="Search"
                    class="w-full"
                    (keyup)="fulltextSearch()"
                    [(ngModel)]="fulltext"
                  />
                </span>
              </div>
            </p-accordionTab>
            <p-accordionTab [selected]="true" header="Category">
              <div
                class="transition-all transition-duration-400 transition-ease-in-out"
              >
                <div
                  class="flex w-full justify-content-between"
                  *ngFor="let category of categories"
                >
                  <div class="field-checkbox">
                    <p-checkbox
                      [value]="category.id"
                      [inputId]="'productCategory_' + category.id"
                      [(ngModel)]="selectedCategoryIds"
                      (onChange)="changeFilter()"
                    ></p-checkbox>
                    <label
                      [for]="'productCategory_' + category.id"
                      class="text-900"
                    >
                      {{ category.productCategoryName }}
                    </label>
                  </div>
                </div>
                <a
                  class="block cursor-pointer text-primary font-medium"
                  (click)="toggleAllCategories(true)"
                >
                  Select all
                </a>
                <a
                  class="block cursor-pointer mt-3 text-primary font-medium"
                  (click)="toggleAllCategories(false)"
                >
                  Deselect all
                </a>
              </div>
            </p-accordionTab>
            <p-accordionTab [selected]="true" header="Price Range">
              <div
                class="transition-all transition-duration-400 transition-ease-in-out"
              >
                <p-slider
                  [(ngModel)]="selectedPriceRange"
                  [range]="true"
                  styleClass="mt-3 mx-auto"
                  [style]="{ 'max-width': '93%' }"
                  [min]="priceRange[0]"
                  [max]="priceRange[1]"
                  [step]="500"
                  (onSlideEnd)="changeFilter()"
                ></p-slider>
                <div class="flex my-4">
                  <p-inputNumber
                    [(ngModel)]="selectedPriceRange[0]"
                    inputStyleClass="w-full mr-3"
                    [readonly]="true"
                  ></p-inputNumber>
                  <p-inputNumber
                    [(ngModel)]="selectedPriceRange[1]"
                    inputStyleClass="w-full"
                    [readonly]="true"
                  ></p-inputNumber>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>
        <!-- <div
        class="w-full border-2 border-dashed surface-border surface-section mt-3 lg:mt-0"
        style="min-height: 25rem"
      ></div> -->
        <div class="flex flex-column flex-grow-1 gap-5">
          <app-sort-by (sortedBy)="onSortByChange($event)"></app-sort-by>
          <app-product-list
            [products]="products"
            [restaurantId]="restaurantId"
            (productDeleted)="refresh()"
          ></app-product-list>
          <p-button
            label="Load more"
            class="align-self-center"
            (onClick)="loadMore()"
            *ngIf="loadMoreShown"
          ></p-button>
        </div>
      </div>
      <!-- <app-add-product></app-add-product> -->
      <div class="text-right">
        <a
          pButton
          label="Add product"
          class="align-self-center"
          routerLink="product"
        ></a>
      </div>
    </div>
  </ng-container>
</ng-container>
<p-toast></p-toast>
