<div class="w-full">
  <div
    class="surface-border border-1 p-3 border-round-top flex align-items-center cursor-pointer"
    [ngClass]="{ 'surface-card': tier2 !== 0, 'bg-primary': tier2 === 0 }"
    (click)="tier2 = 0"
  >
    <div class="w-4 flex align-items-center pr-4">
      <p-radioButton
        name="tier2"
        [value]="0"
        [(ngModel)]="tier2"
        styleClass="mr-2"
      ></p-radioButton>
      <div
        class="font-medium"
        [ngClass]="{ 'text-900': tier2 !== 0, 'bg-primary': tier2 === 0 }"
      >
        Basic
      </div>
    </div>
    <div class="w-4 text-right">
      <span
        class="font-medium"
        [ngClass]="{ 'text-900': tier2 !== 0, 'bg-primary': tier2 === 0 }"
        >19$</span
      >
      <span [ngClass]="{ 'text-600': tier2 !== 0, 'bg-primary': tier2 === 0 }">
        / Month</span
      >
    </div>
  </div>
  <div
    class="surface-border border-1 p-3 border-top-none flex align-items-center cursor-pointer"
    [ngClass]="{ 'surface-card': tier2 !== 1, 'bg-primary': tier2 === 1 }"
    (click)="tier2 = 1"
  >
    <div class="w-4 flex align-items-center pr-4">
      <p-radioButton
        name="tier2"
        [value]="1"
        [(ngModel)]="tier2"
        styleClass="mr-2"
      ></p-radioButton>
      <div
        class="font-medium"
        [ngClass]="{ 'text-900': tier2 !== 1, 'bg-primary': tier2 === 1 }"
      >
        Premium
      </div>
    </div>
    <div class="w-4 text-right">
      <span
        class="font-medium"
        [ngClass]="{ 'text-900': tier2 !== 1, 'bg-primary': tier2 === 1 }"
        >29$</span
      >
      <span [ngClass]="{ 'text-600': tier2 !== 1, 'bg-primary': tier2 === 1 }">
        / Month</span
      >
    </div>
  </div>
  <div
    class="surface-border border-1 border-top-none p-3 border-round-bottom flex align-items-center cursor-pointer"
    [ngClass]="{ 'surface-card': tier2 !== 2, 'bg-primary': tier2 === 2 }"
    (click)="tier2 = 2"
  >
    <div class="w-4 flex align-items-center pr-4">
      <p-radioButton
        name="tier2"
        [value]="2"
        [(ngModel)]="tier2"
        styleClass="mr-2"
      ></p-radioButton>
      <div
        class="font-medium"
        [ngClass]="{ 'text-900': tier2 !== 2, 'bg-primary': tier2 === 2 }"
      >
        Enterprise
      </div>
    </div>
    <div class="w-4 text-right">
      <span
        class="font-medium"
        [ngClass]="{ 'text-900': tier2 !== 2, 'bg-primary': tier2 === 2 }"
        >39$</span
      >
      <span [ngClass]="{ 'text-600': tier2 !== 2, 'bg-primary': tier2 === 2 }">
        / Month</span
      >
    </div>
  </div>
</div>
