<div class="open-restaurant-request-container flex flex-column gap-5">
  <form
    #form="ngForm"
    class="surface-card p-4 shadow-2 border-round w-full lg:w-6"
    (ngSubmit)="submit()"
  >
    <button
      pButton
      pRipple
      icon="pi pi-arrow-left"
      label="Back"
      type="button"
      (click)="back()"
    ></button>
    <div class="text-center mb-5">
      <div class="text-900 text-3xl font-medium mb-3">Open new restaurant</div>
    </div>
    <div class="card">
      <label for="email" class="block text-900 font-medium my-3"
        >Restaurant Name*</label
      >
      <input
        id="email"
        type="text"
        pInputText
        class="w-full mb-1"
        name="restaurantName"
        ngModel
        required
      />
      <div
        class="flex align-items-center gap-1"
        *ngIf="
          form.controls['restaurantName']?.dirty &&
          form.controls['restaurantName']?.errors
        "
      ></div>
    </div>
    <div class="card">
      <label class="block text-900 font-medium my-3">Restaurant Category</label>
      <div class="grid">
        <div class="p-fluid col-12">
          <p-autoComplete
            [(ngModel)]="selectedCategory"
            [suggestions]="filteredCategories"
            (completeMethod)="filterRestaurantCategory($event)"
            [dropdown]="true"
            [multiple]="true"
            field="restaurantCategoryName"
            name="restaurantCategories"
          ></p-autoComplete>
        </div>
      </div>
    </div>
    <div class="card">
      <label for="email" class="block text-900 font-medium my-3"
        >Phone number*</label
      >
      <input
        id="phoneNumber"
        type="text"
        pInputText
        class="w-full mb-1"
        name="phoneNumber"
        ngModel
        required
      />
      <div
        class="flex align-items-center gap-1"
        *ngIf="
          form.controls['phoneNumber']?.dirty &&
          form.controls['phoneNumber']?.errors
        "
      ></div>
    </div>
    <div class="card">
      <label class="block text-900 font-medium my-3">Description*</label>
      <textarea
        class="w-full"
        name="description"
        rows="5"
        pInputTextarea
        required
        ngModel
        placeholder="Enter description ..."
      ></textarea>
      <div
        class="flex align-items-center gap-1"
        *ngIf="
          form.controls['description']?.dirty &&
          form.controls['description']?.errors
        "
      ></div>
    </div>
    <app-address-fields></app-address-fields>
    <button
      pButton
      pRipple
      label="Save"
      class="w-full mt-3"
      type="submit"
      [disabled]="submitButtonDisabled"
    ></button>
  </form>
</div>