<div class="border-2 border-dashed border-300 border-round surface-0 p-4">
  <div
    class="flex align-items-start sm:align-items-center sm:flex-row surface-border flex-wrap gap-5"
  >
    <app-image-attachment
      [url]="restaurant.avatarFile?.filePath"
      width="200px"
      height="200px"
    ></app-image-attachment>
    <div class="flex flex-column gap-2">
      <a
        class="text-900 text-xl font-medium cursor-pointer"
        (click)="onRestaurantNameClick()"
      >
        {{ restaurant.restaurantName }}
      </a>
      <p-tag
        [severity]="restaurant.opening ? 'success' : 'danger'"
        [value]="restaurant.opening ? 'Opening' : 'Closed'"
      ></p-tag>
      <span class="text-600">
        {{ getRestaurantFullAddress(restaurant) }}
      </span>
      <span class="inline-flex align-items-center">
        <span class="text-600 mr-2">
          Categories:
          <strong>{{ getRestaurantCategories(restaurant) }}</strong>
        </span>
      </span>
      <span class="inline-flex align-items-center" *ngIf="hasDistance">
        <span class="text-600 mr-2">
          Distance:
          <strong>{{ getRestaurantDistance(restaurant) }}</strong>
        </span>
      </span>
      <!-- <span class="flex align-items-center">
        <i class="pi pi-exclamation-triangle text-600 mr-2"></i>
        <span class="text-600">Only 8 Available.</span>
      </span> -->
    </div>
  </div>
</div>
