<div class="card">
  <p-table
    [value]="orders"
    [lazy]="true"
    (onLazyLoad)="onPage($event)"
    dataKey="id"
    [tableStyle]="{ 'min-width': '75rem' }"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} orders"
  >
    <ng-template pTemplate="caption"> Orders </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Order #</th>
        <th>Created At</th>
        <ng-container *ngIf="!isBuyer">
          <th>Buyer Name</th>
          <th>Email</th>
          <th>Phone number</th>
        </ng-container>
        <th>Total Order</th>
        <th>Total Price</th>
        <th>Order Status</th>
        <th>Restaurant</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td>
          {{ order.id }}
        </td>
        <td>
          {{ order.createdAt * 1000 | date : "dd/MM/yyyy hh:mm" }}
        </td>
        <ng-container *ngIf="!isBuyer">
          <td>
            {{
              order.orderCreator.lastName +
                " " +
                order.orderCreator.middleName +
                " " +
                order.orderCreator.firstName
            }}
          </td>
          <td>{{ order.orderCreator.email }}</td>
          <td>{{ order.orderCreator.phoneNumber }}</td>
        </ng-container>
        <td>{{ order.orderProductDetails.length }}</td>
        <td>{{ getOrderTotalPrice(order) | currency : "VND" }}</td>
        <td>
          <p-tag
            [value]="order.orderStatus"
            [severity]="getSeverity(order.orderStatus)"
          ></p-tag>
        </td>
        <td>{{ order?.restaurant?.restaurantName }}</td>
        <td>
          <p-button
            (click)="showDialog(order.id)"
            icon="pi pi-external-link"
            label="View detail"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <!-- <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are
        {{ orderProductDetail ? orderProductDetail.length : 0 }} buyers order.
      </div>
    </ng-template> -->
  </p-table>
</div>

<p-dialog
  [header]="
    selectedOrder?.restaurant?.restaurantName
      ? 'Orders #' +
        selectedOrder?.id +
        ' [' +
        selectedOrder?.restaurant?.restaurantName +
        ']'
      : 'Order detail'
  "
  [(visible)]="visible"
  [modal]="true"
  [style]="{ 'min-width': '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="flex justify-content-center align-items-center" *ngIf="showQr">
    <img width="300px" [src]="bankImagePath" />
    <div>
      <div>
        <strong>Account Number: </strong>
        <span>
          {{ selectedOrder?.restaurant?.bankDetail?.accountNumber }}
        </span>
      </div>
      <div>
        <strong>Account Name: </strong>
        <span> {{ selectedOrder?.restaurant?.bankDetail?.accountName }} </span>
      </div>
      <div>
        <strong>Total amount: </strong>
        <span>
          {{ getOrderTotalPrice(selectedOrder) | currency : "VND" }}
        </span>
      </div>
    </div>
  </div>

  <div class="flex flex-column gap-4 align-items-center">
    <div class="flex gap-2 overflow-y-auto p-5" style="max-width: 50rem">
      <div *ngFor="let orderDetail of selectedOrder?.orderProductDetails">
        <p-card
          [header]="orderDetail.product?.productName!"
          [subheader]="(orderDetail.price | currency : 'VND') + ''"
          [style]="{ width: '20rem' }"
        >
          <ng-template pTemplate="header">
            <app-image-attachment
              *ngIf="
                orderDetail.product?.images &&
                orderDetail.product?.images?.length
              "
              [url]="(orderDetail.product?.images)![0].filePath"
              width="100%"
              height="20rem"
              [isRound]="false"
            ></app-image-attachment>

            <div
              *ngIf="
                !orderDetail.product?.images ||
                !orderDetail.product?.images?.length
              "
              style="width: 100%; height: 20rem"
              class="border-3 border-dashed border-round"
            ></div>
          </ng-template>
          <p>Quantity: {{ orderDetail.quantity }}</p>
          <p>Note: {{ orderDetail.note }}</p>
        </p-card>
      </div>
    </div>

    <div class="grid w-full">
      <div class="col">
        <p-button
          label="Cancel"
          icon="pi pi-times"
          styleClass="p-button-danger w-full"
          (onClick)="cancel()"
        ></p-button>
      </div>
    </div>
    <div class="grid w-full" *ngIf="!isBuyer">
      <ng-container *ngIf="selectedOrder?.orderStatus === 'PENDING'">
        <div class="col">
          <p-button
            label="Accept"
            icon="pi pi-check"
            styleClass="w-full"
            (onClick)="accept()"
          ></p-button>
        </div>
        <div class="col">
          <p-button
            label="Reject"
            icon="pi pi-times"
            styleClass="p-button-danger w-full"
            (onClick)="reject()"
          ></p-button>
        </div>
      </ng-container>

      <ng-container *ngIf="selectedOrder?.orderStatus === 'ACCEPTED'">
        <div class="col">
          <p-button
            label="Start delivery"
            icon="pi pi-check"
            styleClass="w-full"
            (onClick)="startDelivery()"
          ></p-button>
        </div>
        <div class="col">
          <p-button
            label="Abort"
            icon="pi pi-times"
            styleClass="p-button-danger w-full"
            (onClick)="abort()"
          ></p-button>
        </div>
      </ng-container>

      <ng-container *ngIf="selectedOrder?.orderStatus === 'DELIVERING'">
        <div class="col">
          <p-button
            label="Buyer received item"
            icon="pi pi-check"
            styleClass="w-full"
            (onClick)="complete()"
          ></p-button>
        </div>
        <div class="col">
          <p-button
            label="Abort"
            icon="pi pi-times"
            styleClass="p-button-danger w-full"
            (onClick)="abort()"
          ></p-button>
        </div>
      </ng-container>
    </div>
  </div>
</p-dialog>
