<ng-container *ngIf="isParentPage()">
  <div
    class="surface-section h-30rem bg-no-repeat bg-cover bg-center flex align-items-center"
    style="
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(assets/images/admin.png);
    "
  >
    <div class="px-4 mx-4 lg:px-6 lg:mx-6">
      <span class="block text-3xl text-white mb-4">Administrator Page</span>
      <span class="block text-4xl font-medium text-white mb-4"
        >Administrator for System Management</span
      >
    </div>
  </div>
  <div class="surface-ground">
    <div class="grid m-0">
      <div
        class="col-12 lg:col-4 p-3"
        *ngFor="let buttonContent of buttonContents"
      >
        <a [routerLink]="buttonContent.routerLink">
          <div
            class="p-3 border-round shadow-2 flex align-items-center surface-card"
          >
            <div
              style="min-width: 48px; height: 48px; border-radius: 10px"
              class="inline-flex align-items-center justify-content-center mr-3"
              [ngClass]="'bg-' + buttonContent.color + '-100'"
            >
              <i
                class="text-3xl pi"
                [ngClass]="
                  buttonContent.iconClass +
                  ' text-' +
                  buttonContent.color +
                  '-600'
                "
              ></i>
            </div>
            <div>
              <span class="text-900 text-xl font-medium mb-2">
                {{ buttonContent.title }}</span
              >
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</ng-container>

<div class="flex">
  <div
    *ngIf="!isParentPage()"
    id="app-sidebar-1"
    class="surface-section h-screen hidden lg:block flex-shrink-0 fixed lg:sticky left-0 top-0 z-1 border-right-1 surface-border select-none"
    style="width: 280px"
  >
    <div class="flex flex-column h-full">
      <div class="overflow-y-auto">
        <ul class="list-none p-2 m-0 border-top-1 surface-border">
          <li>
            <div class="p-3 text-500 font-medium">ADMIN MANAGEMENT</div>
          </li>
          <li *ngFor="let buttonContent of buttonContents">
            <a
              pRipple
              class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 border-round transition-colors transition-duration-150"
              [routerLink]="buttonContent.routerLink"
            >
              <i [class]="'pi ' + buttonContent.iconClass + ' mr-2'"></i>
              <span class="font-medium"> {{ buttonContent.title }} </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
