<a
  label="Display"
  icon="pi pi-arrow-left"
  pStyleClass="#slideover-cart-ext"
  enterClass="hidden"
  enterActiveClass="fadeinright"
  leaveToClass="hidden"
  leaveActiveClass="fadeoutright"
  [hideOnOutsideClick]="true"
  class="cursor-pointer relative h-full inline-flex align-items-center text-600 py-3 xl:py-0 px-3 border-left-2 xl:border-left-none xl:border-bottom-2 border-transparent hover:border-500 transition-colors transition-duration-150"
  (click)="refresh()"
>
  <span
    class="pi pi-cart-plus mr-3 xl:mr-0"
    pBadge
    [value]="(order.orderProductDetails?.length || 0) + ''"
  ></span>
  <span class="font-medium inline xl:hidden">Cart</span>
</a>

<div
  id="slideover-cart-ext"
  class="hidden surface-overlay absolute right-0 shadow-2 h-full w-full xl:w-max z-1"
  [style.top.px]="verticalOffset"
  [hidden]="!hasOrder"
>
  <div class="flex flex-column h-full">
    <div
      class="surface-overlay p-4 flex align-items-center justify-content-between"
    >
      <span class="text-900 text-xl font-medium">
        Your Cart
        <strong *ngIf="restaurant"> [{{ restaurant.restaurantName }}] </strong>
      </span>
      <button
        pButton
        pRipple
        icon="pi pi-times"
        class="p-button-text p-button-plain p-button-rounded"
        pStyleClass="#slideover-cart-ext"
        leaveToClass="hidden"
        leaveActiveClass="fadeoutright"
      ></button>
    </div>
    <div class="flex flex-auto overflow-y-auto">
      <div class="w-full p-4 flex flex-column">
        <div
          *ngFor="let detail of order.orderProductDetails"
          class="flex align-items-start md:align-items-center border-top-1 surface-border pt-4 mb-4"
        >
          <ng-container *ngIf="getProduct(detail)">
            <app-image-attachment
              *ngIf="getProduct(detail)?.images?.length"
              [url]="getProduct(detail)!.images![0].filePath!"
              width="7rem"
              height="7rem"
              [isRound]="false"
            ></app-image-attachment>

            <div
              *ngIf="!getProduct(detail)?.images?.length"
              style="width: 7rem; height: 7rem"
              class="border-3 border-dashed border-round"
            ></div>
          </ng-container>

          <div class="pl-3 flex-auto">
            <div class="flex align-items-center justify-content-between mb-2">
              <span class="text-primary font-medium">
                {{ getProduct(detail)?.productName }}
              </span>
              <a
                class="cursor-pointer text-pink-500 hover:text-pink-700 transition-colors transition-duration-300"
                (click)="remove(detail)"
              >
                <i class="pi pi-trash"> </i>
              </a>
            </div>
            <!-- <span class="text-500">Medium</span> -->
            <div
              class="flex align-items-center justify-content-between mt-2 gap-5"
            >
              <svg
                width="17"
                height="16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 17 16"
                class="mr-1.5"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M.5 13.894A1.607 1.607 0 0 0 2.107 15.5h11.786a1.607 1.607 0 0 0 1.607-1.607V7.465a.536.536 0 1 0-1.071 0v6.429a.535.535 0 0 1-.536.536H2.107a.536.536 0 0 1-.536-.536V2.108a.536.536 0 0 1 .536-.536h6.964a.536.536 0 1 0 0-1.07H2.107A1.607 1.607 0 0 0 .5 2.107v11.786Z"
                  fill="#0C85F2"
                ></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M.897 15.104a1.711 1.711 0 0 1-.501-1.21V2.108A1.711 1.711 0 0 1 2.107.397h6.964a.64.64 0 1 1 0 1.28H2.107a.432.432 0 0 0-.431.431v11.786a.432.432 0 0 0 .431.431h11.786a.432.432 0 0 0 .431-.431V7.465a.64.64 0 0 1 1.28 0v6.429a1.711 1.711 0 0 1-1.711 1.711H2.107c-.454 0-.889-.18-1.21-.501Zm.074-.074A1.607 1.607 0 0 1 .5 13.894V2.108A1.607 1.607 0 0 1 2.107.501h6.964a.536.536 0 0 1 0 1.071H2.107a.536.536 0 0 0-.536.536v11.786a.536.536 0 0 0 .536.536h11.786a.536.536 0 0 0 .536-.536V7.465a.536.536 0 0 1 1.071 0v6.429a1.607 1.607 0 0 1-1.607 1.607H2.107c-.426 0-.835-.17-1.136-.47Z"
                  fill="#0C85F2"
                ></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M13.567 1.501a.062.062 0 0 0-.087 0L5.878 9.104l-.212 1.64 1.8-.45 7.375-7.375a.236.236 0 0 0 .02-.096.236.236 0 0 0-.02-.096L13.577 1.51l-.009-.009Zm.88-.889a1.312 1.312 0 0 0-1.85.005L4.844 8.37a.625.625 0 0 0-.178.362l-.357 2.76a.625.625 0 0 0 .77.687l2.858-.714a.625.625 0 0 0 .29-.165l7.5-7.5c.278-.277.385-.652.385-.977 0-.326-.107-.7-.384-.978l-.01-.009L14.447.612Z"
                  fill="#0C85F2"
                ></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M10.355 2.86a.625.625 0 0 1 .883.037l2.008 2.18a.625.625 0 1 1-.92.848l-2.008-2.182a.625.625 0 0 1 .037-.883Z"
                  fill="#0C85F2"
                ></path>
              </svg>
              <span
                class="text-sm text-neutralPrimaryText overflow-hidden text-ellipsis w-14 md:w-28 whitespace-nowrap leading-[18px]"
                >Ghi chú</span
              >

              <p-inputNumber
                [showButtons]="true"
                buttonLayout="horizontal"
                spinnerMode="horizontal"
                [min]="0"
                inputStyleClass="w-3rem text-center py-2 border-transparent"
                [ngModel]="detail.quantity"
                (ngModelChange)="calculateTotal($event, detail)"
                class="border-1 surface-border border-round"
                decrementButtonClass="p-button-text py-1 px-2"
                incrementButtonClass="p-button-text py-1 px-1"
                incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus"
              >
              </p-inputNumber>
              <span class="text-900 font-medium">
                {{ detail.quantity! * detail.price! | currency : "VND" }}
              </span>
            </div>
          </div>
        </div>
        <!-- <div class="border-top-1 border-bottom-1 surface-border mt-4 py-4">
          <ul class="list-none m-0 p-0">
            <li class="flex justify-content-between mb-3">
              <span class="text-600">Subtotal</span>
              <span class="text-900 font-medium">$20.00</span>
            </li>
            <li class="flex justify-content-between mb-3">
              <span class="text-600">Shipping</span>
              <span class="text-900 font-medium">$5.00</span>
            </li>
            <li class="flex justify-content-between">
              <span class="text-600">Total</span>
              <span class="text-900 font-medium">$25.00</span>
            </li>
          </ul>
        </div> -->
        <div class="mt-auto">
          <div
            class="flex align-items-center justify-content-between text-xl text-900"
          >
            <span>Grand Total</span>
            <span> {{ totalPrice | currency : "VND" }} </span>
          </div>
          <div class="flex flex-column mt-4 gap-2">
            <button
              pButton
              pRipple
              label="Empty Cart"
              class="w-full p-button-danger"
              (click)="emptyCart()"
            ></button>
            <button
              pButton
              pRipple
              label="Place Order"
              class="w-full"
              (click)="addOrder()"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
