<p-toast></p-toast>
<div class="surface-section px-6 py-5">
  <button
    pButton
    pRipple
    type="button"
    label="Back"
    icon="pi pi-arrow-left"
    class="p-button-rounded p-button-info"
    routerLink=".."
  ></button>
</div>
<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
  <div
    class="flex align-items-start bg-gray-200 flex-column lg:flex-row lg:justify-content-between"
  >
    <div class="flex align-items-start flex-column md:flex-row">
      <div class="p-5">
        <span class="text-900 font-medium text-3xl">
          Update Restaurant Information
        </span>
      </div>
    </div>
  </div>
</div>

<form
  #form="ngForm"
  class="surface-section px-2 py-4 md:px-6 lg:px-8"
  (ngSubmit)="updateResInfo()"
>
  <label for="owner" class="block text-900 font-medium my-3">Owner</label>
  <div class="grid">
    <div class="col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText disabled placeholder="Owner Name" />
      </div>
    </div>
  </div>

  <label for="res.name" class="block text-900 font-medium my-3"
    >Restaurant Name</label
  >
  <div class="grid">
    <div class="col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Restaurant Name" />
      </div>
    </div>
  </div>

  <app-address-fields></app-address-fields>

  <label for="phoneNumber" class="block text-900 font-medium my-3"
    >Phone Number</label
  >
  <div class="grid">
    <div class="col-12">
      <div class="p-inputgroup">
        <input
          id="phoneNumber"
          type="text"
          pInputText
          class="w-full mb-1"
          name="phoneNumber"
          ngModel
          placeholder="Phone Number"
        />
      </div>
    </div>
  </div>
  <div
    class="flex align-items-center gap-1"
    *ngIf="
      form.controls['phoneNumber']?.dirty &&
      form.controls['phoneNumber']?.errors
    "
  >
    <i class="pi pi-times-circle text-danger"></i>
    <small class="text-danger"> Enter a valid phone number! </small>
  </div>

  <label for="descr" class="block text-900 font-medium my-3">Description</label>
  <div class="grid">
    <div class="col-12">
      <div class="p-inputgroup">
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          placeholder="Description"
        ></textarea>
      </div>
    </div>
  </div>

  <label for="contact" class="block text-900 font-medium my-3">Contact</label>
  <div class="grid">
    <div class="col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Contact Number" />
      </div>
    </div>
  </div>

  <label for="delivery" class="block text-900 font-medium my-3"
    >Delivery?</label
  >
  <div class="flex">
    <div *ngFor="let delivery of deliveries" class="field-checkbox mr-4">
      <p-radioButton
        [inputId]="delivery.key"
        name="delivery"
        [value]="delivery"
        [(ngModel)]="selectedDelivery"
        [disabled]="delivery.key === 'R'"
      ></p-radioButton>
      <label [for]="delivery.key">{{ delivery.name }}</label>
    </div>
  </div>

  <label for="delFee" class="block text-900 font-medium my-3"
    >Delivery Fee</label
  >
  <div class="grid">
    <div class="col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Delivery Fee" />
      </div>
    </div>
  </div>

  <label for="minDelAmount" class="block text-900 font-medium my-3"
    >Minimum Delivery Amount</label
  >
  <div class="grid">
    <div class="col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Minimum Delivery Amount" />
      </div>
    </div>
  </div>

  <label for="freeDelAmount" class="block text-900 font-medium my-3"
    >Free Delivery Amount</label
  >
  <div class="grid">
    <div class="col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Free Delivery Amount" />
      </div>
    </div>
  </div>

  <label for="delRadius" class="block text-900 font-medium my-3"
    >Delivery Radius</label
  >
  <div class="grid">
    <div class="col-12">
      <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Delivery Radius" />
      </div>
    </div>
  </div>

  <label for="openClosed" class="block text-900 font-medium my-3"
    >Opening-Closed Time</label
  >
  <div class="grid p-fluid my-2 formgrid">
    <div class="col-12 md:col-6">
      <label
        for="Opening-Closed Time"
        class="block text-500 font-small my-3 mr-4"
        >Monday - Saturday from</label
      >
      <p-calendar
        [(ngModel)]="time1"
        [timeOnly]="true"
        inputId="timeonly"
      ></p-calendar>
    </div>
    <div class="col-12 md:col-6">
      <label
        for="Opening-Closed Time"
        class="block text-500 font-small my-3 mr-4"
        >Monday - Saturday to</label
      >
      <p-calendar
        [(ngModel)]="time2"
        [timeOnly]="true"
        inputId="timeonly"
      ></p-calendar>
    </div>
  </div>
  <div class="grid p-fluid my-2" formgrid>
    <div class="col-12 md:col-6">
      <label
        for="Opening-Closed Time"
        class="block text-500 font-small my-3 mr-4"
        >Weekend from</label
      >
      <p-calendar
        [(ngModel)]="time3"
        [timeOnly]="true"
        inputId="timeonly"
      ></p-calendar>
    </div>
    <div class="col-12 md:col-6">
      <label
        for="Opening-Closed Time"
        class="block text-500 font-small my-3 mr-4"
        >Weekend to</label
      >
      <p-calendar
        [(ngModel)]="time4"
        [timeOnly]="true"
        inputId="timeonly"
      ></p-calendar>
    </div>
  </div>

  <label for="menu" class="block text-900 font-medium my-3">Menu</label>
  <div class="grid">
    <div class="col-12">
      <p-fileUpload
        name="demo[]"
        url="./upload.php"
        (onUpload)="onUpload($event)"
        accept="image/*"
      >
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
              {{ file.name }} - {{ file.size }} bytes
            </li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </div>
  </div>

  <button
    pButton
    pRipple
    label="Save Changes"
    icon="pi pi-check"
    class="w-full mt-4"
  ></button>
</form>
