<div class="surface-section px-6 py-5">
  <button
    pButton
    pRipple
    type="button"
    label="Back"
    icon="pi pi-arrow-left"
    class="p-button-rounded p-button-info"
    routerLink=".."
  ></button>
</div>
<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
  <div
    class="flex align-items-start bg-gray-200 flex-column lg:flex-row lg:justify-content-between"
  >
    <div class="flex align-items-start flex-column md:flex-row">
      <div class="p-5">
        <span class="text-900 font-medium text-3xl"> Select Role For User</span>
        <div class="flex align-items-center flex-wrap text-sm">
          <div class="mr-5 mt-3">
            <span class="font-medium text-500"
              >Select new Role for User to Update</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="w-full">
    <div
      class="surface-border border-1 p-3 border-round-top flex align-items-center cursor-pointer"
      [ngClass]="{
        'surface-card': username !== 0,
        'bg-primary': username === 0
      }"
      (click)="username = 0"
    >
      <p-radioButton
        name="username"
        [value]="0"
        [(ngModel)]="username"
        styleClass="mr-3"
      ></p-radioButton>
      <div class="mr-4 md:mr-8">
        <div
          class="font-medium mb-1"
          [ngClass]="{
            'text-900': username !== 0,
            'bg-primary': username === 0
          }"
        >
          Buyer
        </div>
        <span
          class="text-sm"
          [ngClass]="{
            'text-600': username !== 0,
            'bg-primary': username === 0
          }"
          >The person can only view all information of restaurant, meal in
          restaurant, feedback to restaurant.</span
        >
      </div>
      <div
        class="border-round border-1 p-1 ml-auto flex flex-nowrap"
        [ngClass]="{
          'surface-50 text-600 surface-border': username !== 0,
          'bg-primary-reverse': username === 0
        }"
      >
        <i class="pi pi-shopping-bag"></i>
      </div>
    </div>
    <div
      class="surface-border border-1 border-top-none p-3 flex align-items-center cursor-pointer"
      [ngClass]="{
        'surface-card': username !== 1,
        'bg-primary': username === 1
      }"
      (click)="username = 1"
    >
      <p-radioButton
        name="username"
        [value]="1"
        [(ngModel)]="username"
        styleClass="mr-3"
      ></p-radioButton>
      <div class="mr-4 md:mr-8">
        <div
          class="font-medium mb-1"
          [ngClass]="{
            'text-900': username !== 1,
            'bg-primary': username === 1
          }"
        >
          Seller
        </div>
        <span
          class="text-sm"
          [ngClass]="{
            'text-600': username !== 1,
            'bg-primary': username === 1
          }"
          >The person who can manage the restaurant which they owner, view all
          order, feedback from buyers.</span
        >
      </div>
      <div
        class="border-round border-1 p-1 ml-auto flex flex-nowrap"
        [ngClass]="{
          'surface-50 text-600 surface-border': username !== 1,
          'bg-primary-reverse': username === 1
        }"
      >
        <i class="pi pi-send"></i>
      </div>
    </div>
    <div
      class="surface-border border-1 border-top-none p-3 border-round-bottom flex align-items-center cursor-pointer"
      [ngClass]="{
        'surface-card': username !== 2,
        'bg-primary': username === 2
      }"
      (click)="username = 2"
    >
      <p-radioButton
        name="username"
        [value]="2"
        [(ngModel)]="username"
        styleClass="mr-3"
      ></p-radioButton>
      <div class="mr-4 md:mr-8">
        <div
          class="font-medium mb-1"
          [ngClass]="{
            'text-900': username !== 2,
            'bg-primary': username === 2
          }"
        >
          Administrator
        </div>
        <span
          class="text-sm"
          [ngClass]="{
            'text-600': username !== 2,
            'bg-primary': username === 2
          }"
          >The person who has the highest permission in the system.
          Administrators can track all for lower actors.</span
        >
      </div>
      <div
        class="border-round border-1 p-1 ml-auto flex flex-nowrap"
        [ngClass]="{
          'surface-50 text-600 surface-border': username !== 2,
          'bg-primary-reverse': username === 2
        }"
      >
        <i class="pi pi-shield"></i>
      </div>
    </div>
  </div>
  <button
    pButton
    pRipple
    label="Save Changes"
    icon="pi pi-check"
    class="w-full mt-4"
  ></button>
</div>
